
body {
    color:#ffffff;
    background-color:#3d4384;
    font-family:Verdana,Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color:#ffffff;
    font-weight:normal;
    font-style:normal;
}

a:link {
    color: #c9bb60;
}

a:visited {
    color: #ad9468;
}

a:active {
    color: #e8db86;
}

table {
    table-border-color-light:#FFFFFF;
    table-border-color-dark:#FFFFFF;
    border-color:#FFFFFF;
    color:#ffffff;
    font-style:normal;
}

td {
    border-color: #FFFFFF;
}

li {
    mso-style-parent:"";
    font-size:12.0pt;
    font-family:"Times New Roman";
    margin: 0;
 }

li > span {
    font-family: Arial;
}

#main-button,
#info-button,
#organizers-button,
#schedule-button,
#seminars-button,
#participants-button {
    display: block;
    width: 150px;
    height: 30px;
}

#main-button {
    background-image: url("../img/buttons/button5F.jpg");
}

#main-button:hover {
    background-image: url("../img/buttons/button60.jpg")
}

#main-button:active:hover {
  background-image: url("../img/buttons/button61.jpg")
}

#info-button {
    background-image: url("../img/buttons/button76.jpg");
}

#info-button:hover {
    background-image: url("../img/buttons/button77.jpg")
}

#info-button:active:hover {
  background-image: url("../img/buttons/button78.jpg")
}

#organizers-button {
    background-image: url("../img/buttons/button89.jpg");
}

#organizers-button:hover {
    background-image: url("../img/buttons/button8A.jpg")
}

#organizers-button:active:hover {
  background-image: url("../img/buttons/button8B.jpg")
}

#schedule-button {
    background-image: url("../img/buttons/button79.jpg");
}

#schedule-button:hover {
    background-image: url("../img/buttons/button7A.jpg")
}

#schedule-button:active:hover {
  background-image: url("../img/buttons/button7B.jpg")
}

#seminars-button {
    background-image: url("../img/buttons/button7C.jpg");
}

#seminars-button:hover {
    background-image: url("../img/buttons/button7D.jpg")
}

#seminars-button:active:hover {
  background-image: url("../img/buttons/button7E.jpg")
}

#participants-button {
    background-image: url("../img/buttons/button83.jpg");
}

#participants-button:hover {
    background-image: url("../img/buttons/button84.jpg")
}

#participants-button:active:hover {
  background-image: url("../img/buttons/button85.jpg")
}
